---
rules:
  trailing-spaces: enable
  indentation:
    spaces: consistent
    indent-sequences: consistent
    check-multi-line-strings: true
  line-length:
    max: 200
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
    level: warning
  key-duplicates: {}
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
